<% if @random_name && @color%>
<h1>My name is <%= @random_name %></h1>
<h1>My fave color is <%= @color %></h1>
<% end %>
<div style='border: 3px dashed red'>
  <img src='http://bit.ly/1eze8aE'>
</div>
